body{
	background-color: #f3f3f3;
	margin: 0px
}

.mainDetails{border-radius: 0%;

}

.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;	
	margin-left: 90px;
}
img[alt]{
	border-radius: 90px;
	height: 130px;
	width: 130px;
}

#name {
	float: left;
	font-size: 20px;
	color: #444444;
	line-height: 15px;	
}



#contactDetails {
	float: right;	
}
.lista1{
	list-style: none;
	line-height: 30px;
}
.lista1 a{
	color: black;
	text-decoration: none;
}
.sectionTitle {
	float: left;
	width: 25%;
	line-height: 15px;

	
}
.sectionTitle1{
	font-family: sans-serif;
	font-size: 23px;
	color:#cf8a05;	
	height: 0px;
	width: 1100px;
	border-top: 2px solid rgb(207, 138, 5);
    margin:40px;
	margin-bottom:20px;
	line-height: 16px;
	
	
}
.sectionTitle1 h1{
	font-size: 29px;
	font-family: sans-serif;
	font-weight: 400px;
	margin-left: 28px;
}


.sectionTitle2{
	font-family: sans-serif;
	font-size: 20px;
	color:#cf8a05;
	height: 0px;
	max-width: 1260px;
	border-top: 1px solid #dedede;
    margin-inline:70px;
	

}
.sectionTitle3{
	font-family: sans-serif;
	font-size: 20px;	
	color:#cf8a05;
	height: 10px;
	border-top: 1px solid #dedede;
    height: 1px;
	margin-inline:70px;
	margin-left: 80px;
}
.sectionTitle4{
	font-family: sans-serif;
	font-size: 20px;
	color:#cf8a05;
	height: 10px;	
	border-top: 1px solid #dedede;
    height: 1px;
	margin-inline:70px;
	margin-left: 80px;
}

.sectionContent {
	float: right;
	width: 70%;
	font-family: sans-serif;
	font-size: 20px;
	
}

ul li{
	color: black;
	list-style-type: none;
		
}
.sectionContentt1 ul{
	margin-left: 300px;
    margin-top: 30px;
	font-size: 24px;
    font-family: sans-serif;
}
.sectionContentt2 ul{
	margin-left: 544px;
    margin-top: -110px;
	font-size: 24px;
    font-family: sans-serif;
}
.sectionContentt3 ul{
	margin-left: 800px;
    margin-top: -102px;
    font-size: 23px;
    font-family: sans-serif;
}

.sectionContent p{
	font-family: Arial;
	font-size: 23px;
	padding: 5px;
}
.sectionContent h2{
	line-height: 40px;
	font-size: 30px;
	font-family: sans-serif;
}
.subDetails{
	margin-top: -4%;
    color: gray;
}