body{
	background-color: #f3f3f3;
	margin: 100px
}

.mainDetails{border-radius: 0%;

}
.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;	
	
}
img[alt]{
	border-radius: 90px;
	height: 130px;
	width: 130px;
}

#name {
	float: left;
	font-size: 20px;
	color: #444444;
	line-height: 15px;	
}



#contactDetails {
	float: right;
	
}
.lista1{
	list-style: none;
	line-height: 30px;
	

}
.lista2{
	text-decoration: none;
}

.lista1 a{
	color: black;
	text-decoration: none;
}
.sectionTitle {
	float: left;
	width: 25%;
	line-height: 15px;

	
}
.sectionTitle1{
	font-family: sans-serif;
	font-size: 23px;
	color:#cf8a05;	
	height: 0px;
	width: 1100px;
	border-top: 2px solid rgb(207, 138, 5);
    margin:40px;
	margin-bottom:20px;
	line-height: 15px;
	
}
.sectionTitle1 h1{
	font-size: 29px;
	font-family: sans-serif;
	font-weight: 400px;
}


.sectionTitle2{
	font-family: sans-serif;
	font-size: 20px;
	color:#cf8a05;
	height: 0px;
	max-width: 1260px;
	border-top: 1px solid #dedede;
    margin-inline:60px;
	

}
.sectionTitle3{
	font-family: sans-serif;
	font-size: 20px;	
	color:#cf8a05;
	height: 10px;
	border-top: 1px solid #dedede;
    height: 1px;
	margin-inline:60px;
}
.sectionTitle4{
	font-family: sans-serif;
	font-size: 20px;
	color:#cf8a05;
	height: 10px;	
	border-top: 1px solid #dedede;
    height: 1px;
	margin-inline:60px;
}

.sectionContent {
	float: right;
	width: 70%;
	
}
.sectionContent p{
	font-family: Arial;
	font-size: 23px;
	
}
.sectionContent h2{
	line-height: 40px;
	font-size: 30px;
	font-family: sans-serif;
}